# Mac OS
.DS_STORE

# cython
*.pyc
__pycache__/

# Ignore backup files.
*~

# Ignore Vim swap files.
.*.swp

# Ignore all bazel-* symlinks. There is no full list since this can change
# Ignore all bazel-* symlinks. There is no full list since this can change
bazel-*
